@charset "UTF-8";
body {
  font-family: "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", sans-serif;
  /* --- ドロワーメニュー表示時背景スクロール禁止 --- */
}
body.is-open {
  overflow: hidden;
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.5094339623vw;
  }
}
@media (min-width: 1060px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
@media (any-hover: hover) {
  a:hover, a:focus {
    opacity: 0.7;
    -webkit-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 2;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.l-header {
  height: 68px;
  height: 4.25rem;
  padding: 0 20px;
  padding: 0 1.25rem;
}
@media screen and (min-width: 768px) {
  .l-header {
    height: 7.5rem;
  }
}

.l-inner {
  max-width: 540px;
  max-width: 33.75rem;
  width: 100%;
  height: inherit;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1140px;
    padding-right: 40px;
    padding-left: 40px;
  }
}

.l-mv {
  margin-top: 68px;
  margin-top: 4.25rem;
}
@media screen and (min-width: 768px) {
  .l-mv {
    margin-top: 7.5rem;
  }
}

.l-voice {
  margin-top: 56px;
  margin-top: 3.5rem;
}
@media screen and (min-width: 768px) {
  .l-voice {
    margin-top: 6rem;
  }
}

@media screen and (min-width: 768px) {
  .c-card1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .c-card1:nth-of-type(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .c-card1:nth-of-type(odd) .c-card1__img {
    margin-left: 9.433%;
  }
}

@media screen and (min-width: 768px) {
  .c-card1:nth-of-type(even) .c-card1__img {
    margin-right: 9.433%;
  }
}

.c-card1:not(:first-of-type) {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .c-card1:not(:first-of-type) {
    margin-top: 6.25rem;
  }
}

.c-card1__img {
  position: relative;
  width: 100%;
}

.c-card1__img::before {
  content: "";
  display: block;
  padding-top: 66.666%;
}

.c-card1__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .c-card1__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 49.056%;
            flex: 0 0 49.056%;
  }
}

.c-card1__heading {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #393327;
}
@media screen and (min-width: 768px) {
  .c-card1__heading {
    font-size: 1.5rem;
  }
}

.c-card1__description {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.02em;
  color: #393327;
  margin-top: 12px;
  margin-top: 0.75rem;
}
@media screen and (min-width: 768px) {
  .c-card1__description {
    margin-top: 1.25rem;
  }
}

.c-card1__name {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #393327;
  margin-top: 12px;
  margin-top: 0.75rem;
}
@media screen and (min-width: 768px) {
  .c-card1__name {
    font-size: 1rem;
    margin-top: 1.0625rem;
    text-align: end;
  }
}

@media screen and (min-width: 768px) {
  .c-card2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.c-card2:not(:first-of-type) {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .c-card2:not(:first-of-type) {
    margin-top: 6.25rem;
  }
}

.c-card2__img {
  position: relative;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .c-card2__img {
    margin-right: 6.51%;
  }
}

.c-card2__img::before {
  content: "";
  display: block;
  padding-top: 66.666%;
}

.c-card2__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .c-card2__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 49.056%;
            flex: 0 0 49.056%;
  }
}

.c-card2__heading {
  position: relative;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #393327;
  padding-left: 7.5px;
  padding-left: 0.46875rem;
}
.c-card2__heading::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-left: 1px solid #8B6C3A;
}
@media screen and (min-width: 768px) {
  .c-card2__heading {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.7857142857;
    letter-spacing: 0.1em;
    padding-left: 1.25rem;
  }
}

.c-card2__description {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.02em;
  color: #393327;
  margin-top: 12px;
  margin-top: 0.75rem;
}
@media screen and (min-width: 768px) {
  .c-card2__description {
    line-height: 2;
    margin-top: 1.25rem;
  }
}

.c-drawer-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  padding-top: 68px;
  padding-top: 4.25rem;
  z-index: 100;
}
.c-drawer-menu::after {
  content: "";
  position: absolute;
  top: 68px;
  top: 4.25rem;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.c-drawer-menu.is-open::after {
  visibility: visible;
  opacity: 1;
  background: rgba(140, 109, 59, .7);
  z-index: -1;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.c-drawer-menu__items {
  width: 66.66vw;
  height: 100%;
  background-color: #FFFFFF;
  text-align: center;
  margin-left: auto;
  padding-top: 40px;
  padding-top: 2.5rem;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  overflow: scroll;
  padding-bottom: 50px;
  padding-bottom: 3.125rem;
}

.c-drawer-menu.is-open > .c-drawer-menu__items {
  -webkit-transform: none;
          transform: none;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.c-drawer-menu__item {
  font-family: "Lora", serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  font-weight: 400;
}

.c-drawer-menu__item > a {
  display: block;
  padding: 16px 0;
  padding: 1rem 0;
}

.c-drawer-menu__icons {
  margin-top: 41px;
  margin-top: 2.5625rem;
}

.c-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.c-icons .fab {
  display: grid;
  place-items: center;
  width: 40px;
  width: 2.5rem;
  height: 40px;
  height: 2.5rem;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #393327;
  border-radius: 50%;
}

.c-icons__link {
  display: block;
  padding: 0 12.4px;
  padding: 0 0.775rem;
}

.c-line-link {
  display: inline-block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.2em;
  padding: 12px 28px;
  padding: 0.75rem 1.75rem;
  color: #FFFFFF;
  background: linear-gradient(258.82deg, #8B6C3A 21.4%, #B19464 58.78%, #8B6C3A 96.8%);
  border-radius: 2px;
}
@media screen and (min-width: 768px) {
  .c-line-link {
    font-size: 1rem;
    padding: 1.0625rem 2.5rem;
  }
}

.c-logo {
  display: inline-block;
  width: 76px;
  width: 4.75rem;
  height: auto;
}
@media screen and (min-width: 768px) {
  .c-logo {
    width: 8.125rem;
  }
}

.c-mobile-btn {
  display: grid;
  place-items: center start;
}

.c-mobile-btn__bar {
  height: 1px;
  height: 0.0625rem;
  background-color: #393327;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.c-mobile-btn__bar:first-of-type {
  width: 28px;
  width: 1.75rem;
}

.c-mobile-btn__bar:nth-of-type(2) {
  width: 22px;
  width: 1.375rem;
  margin: 8.5px 0;
  margin: 0.53125rem 0;
}

.c-mobile-btn__bar:last-of-type {
  width: 15px;
  width: 0.9375rem;
}

.is-open.c-mobile-btn__bar:first-of-type {
  -webkit-transform: rotate(-45deg) translateY(1px);
          transform: rotate(-45deg) translateY(1px);
  -webkit-transition: rotate 0.3s ease;
  transition: rotate 0.3s ease;
}
.is-open.c-mobile-btn__bar:nth-of-type(2) {
  margin: 0;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.is-open.c-mobile-btn__bar:last-of-type {
  width: 28px;
  width: 1.75rem;
  -webkit-transform: rotate(45deg) translateY(-1px);
          transform: rotate(45deg) translateY(-1px);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.c-section-title-line {
  position: relative;
  display: inline-block;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #393327;
}
@media screen and (min-width: 768px) {
  .c-section-title-line {
    font-size: 3.5rem;
    letter-spacing: 0.08em;
    padding-right: 2rem;
  }
  .c-section-title-line::after {
    position: absolute;
    top: 50%;
    left: 100%;
    width: 21.25rem;
    content: "";
    display: block;
    border-top: 0.6px solid #393327;
  }
}

.c-section-title-line__sub {
  display: block;
  font-family: "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.1em;
  color: #393327;
  margin-top: 20px;
  margin-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .c-section-title-line__sub {
    font-size: 1rem;
    margin-top: 2.5rem;
  }
}

.c-section-title {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #393327;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .c-section-title {
    font-size: 3.5rem;
    letter-spacing: 0.08em;
  }
}

.c-section-title__sub {
  display: block;
  font-family: "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.1em;
  color: #393327;
  text-align: center;
  margin-top: 20px;
  margin-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .c-section-title__sub {
    font-size: 1rem;
    margin-top: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .p-about {
    background-image: url(../images/common/bg-about.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

.p-about__img {
  position: relative;
  width: 100%;
}

.p-about__img::before {
  content: "";
  display: block;
  padding-top: 74.029%;
  /* --- タブレット以降は非表示 --- */
}
@media screen and (min-width: 768px) {
  .p-about__img::before {
    display: none;
  }
}

.p-about__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-about__body {
  margin-top: 36px;
  margin-top: 2.25rem;
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .p-about__body {
    max-width: 31.5625rem;
    width: 100%;
    margin-top: 0;
    padding: 2.5rem 3.125rem 2.875rem;
  }
}

/* --- aos.jsでspとtablet~のアニメーションを変える --- */
.p-about__body[data-aos=new-animation] {
  opacity: 0;
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
}
@media screen and (min-width: 768px) {
  .p-about__body[data-aos=new-animation] {
    -webkit-transform: translate(30vw, 0);
            transform: translate(30vw, 0);
  }
}

.p-about__body[data-aos=new-animation].aos-animate {
  opacity: 1;
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
@media screen and (min-width: 768px) {
  .p-about__body[data-aos=new-animation].aos-animate {
    -webkit-transition: 1.5s ease-out;
    transition: 1.5s ease-out;
  }
}

.p-about__description {
  margin-top: 17px;
  margin-top: 1.0625rem;
}
@media screen and (min-width: 768px) {
  .p-about__description {
    margin-top: 1.5rem;
    word-wrap: break-word;
    word-break: keep-all;
  }
}

.p-about__btn {
  margin-top: 29px;
  margin-top: 1.8125rem;
  margin-left: auto;
  margin-right: auto;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}
@media screen and (min-width: 768px) {
  .p-about__btn {
    margin-top: 2.3125rem;
    margin-left: 0;
    margin-right: 0;
    -webkit-font-feature-settings: initial;
            font-feature-settings: initial;
  }
}

/* --- コンポーネント上書き --- */
.p-about__btn a .c-btn__icon {
  margin-left: 23px;
  margin-left: 1.4375rem;
}

.p-about__pc-img {
  /* --- sp時非表示 --- */
  display: none;
}
@media screen and (min-width: 768px) {
  .p-about__pc-img {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 2rem;
  }
}

.p-about__pc-img::before {
  content: "";
  display: block;
  padding-top: 29.4117%;
}

.p-about__pc-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-header-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}
@media screen and (min-width: 768px) {
  .p-header-nav__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.p-header-nav__item {
  display: none;
  height: inherit;
  font-family: "Lora", serif;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.1em;
  color: #393327;
  padding: 0 10px;
  padding: 0 0.625rem;
}
@media screen and (min-width: 768px) {
  .p-header-nav__item {
    display: grid;
    place-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .p-header-nav__item {
    padding: 0 1rem;
  }
}

.p-header-nav__item a {
  display: inline-block;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .p-header__logo {
    padding: 0 0.4375rem;
  }
}

.p-header-nav__line {
  display: grid;
  place-items: center;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .p-header-nav__line {
    margin-left: 0;
    margin-left: initial;
    padding-left: 2.5625rem;
  }
}

.p-header-nav__mobile {
  height: inherit;
  display: grid;
  place-items: center;
}
@media screen and (min-width: 768px) {
  .p-header-nav__mobile {
    display: none;
  }
}

.p-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 200;
}

.p-header__nav {
  height: inherit;
}

.p-mv {
  background-image: url(../images/sp/mv-bg_sp.jpg);
  background-position: left 30%;
  background-size: cover;
  height: calc(100vh - 4.25rem);
  padding-top: 40px;
  padding-top: 2.5rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-mv {
    background-image: url(../images/pc/mv-bg_pc.jpg);
    background-position: center right 30%;
    height: 42.5625rem;
    padding-top: 0;
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .p-mv__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.p-mv__title {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.6363636364;
  letter-spacing: 0.1em;
  color: #393327;
}
@media screen and (min-width: 768px) {
  .p-mv__title {
    font-size: 2rem;
    line-height: 1.875;
  }
}

.p-mv__sub {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 12px;
  margin-top: 0.75rem;
}
@media screen and (min-width: 768px) {
  .p-mv__sub {
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2rem;
  }
}

.p-voice__heading {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #8B6C3A;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-voice__heading {
    font-size: 2rem;
    letter-spacing: 0.1em;
  }
}

.p-voice__cards {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .p-voice__cards {
    margin-top: 5rem;
  }
}

/* --- タブレットサイズでブロックになり改行する --- */
.u-block-tab {
  display: inline;
}
@media screen and (min-width: 768px) {
  .u-block-tab {
    display: block;
  }
}

@media screen and (min-width: 375px) {
  .u-hidden-mobile {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .u-hidden-tab {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .u-hidden-desktop {
    display: none;
  }
}

/* --- タブレット小サイズでインラインブロックになり改行させない --- */
.u-inline-sm-tab {
  display: block;
}
@media screen and (min-width: 375px) {
  .u-inline-sm-tab {
    display: inline;
  }
}

/* --- タブレットサイズでインラインブロックになり改行させない --- */
.u-inline-tab {
  display: block;
}
@media screen and (min-width: 768px) {
  .u-inline-tab {
    display: inline;
  }
}

/* --- タブレットサイズ大でインラインブロックになり改行させない --- */
.u-inline-tab-large {
  display: block;
}
@media screen and (min-width: 1024px) {
  .u-inline-tab-large {
    display: inline;
  }
}

/* --- pcサイズでインラインブロックになり改行させない --- */
.u-inline-pc {
  display: block;
}
@media screen and (min-width: 1366px) {
  .u-inline-pc {
    display: inline;
  }
}

/* --- スマホ時は非表示でタブレット以上だと表示される --- */
.u-show-tab {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-show-tab {
    display: block;
  }
}

/* --- 外部ライブラリを上書きする用のファイルが入っているフォルダ --- */
/*# sourceMappingURL=styles.css.map */
