</main>
<footer class="l-footer p-footer">
  <div class="p-footer__contents">
    <div class="p-footer__inner l-inner">
      <nav class="p-footer__nav p-footer-nav">
        <ul class="p-footer-nav__items">
          <li class="p-footer-nav__item">
            <a href="#a-top">トップ</a>
          </li>
          <li class="p-footer-nav__item">
            <a href="#a-services">事業</a>
          </li>
          <li class="p-footer-nav__item">
            <a href="#a-about">園崎組について</a>
          </li>
          <li class="p-footer-nav__item">
            <a href="#a-works">園崎組の実績</a>
          </li>
        </ul>
        <ul class="p-footer-nav__items">
          <li class="p-footer-nav__item">
            <a href="#a-recruit">採用</a>
          </li>
          <li class="p-footer-nav__item">
            <a href="#a-contact">お問い合わせ</a>
          </li>
        </ul>
      </nav>
      <div class="p-footer__info p-footer-info">
        <a href="#a-top" class="p-footer-info__logo">
          <svg viewBox="0 0 272 60" class="c-footer-logo">
            <use xlink:href="#logo"></use>
          </svg>
        </a>
        <div class="p-footer-info__items">
          <h4 class="p-footer-info__item">株式会社 園崎組</h4>
          <p class="p-footer-info__item">
            〒000-000
            <span class="p-footer-info__sub-item"
              >埼玉県秩父市×××××××××××</span
            >
          </p>
          <p class="p-footer-info__item">TEL 0494-00-0000</p>
          <p class="p-footer-info__item">FAX 000-0000-0000</p>
        </div>
      </div>
    </div>
  </div>
  <div class="p-footer__copyright">
    <p class="c-copyright l-inner">
      Copyright © SONOZAKI CO.LTD All Rights Reserved.
    </p>
  </div>
</footer>
</div>

<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<!-- swiper.js CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/7.4.1/swiper-bundle.min.js"></script>
<!-- スライダー -->
<script src="./js/mv-slider.js"></script>
<!-- aos.js CDN  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<!-- オリジナル -->
<script src="./js/script.js"></script>
</body>
</html>