<%# パーツ化したSNSアイコン横並び %> 
<div class="c-icons">
  <a href="https://www.youtube.com/" class="c-icons__link" target="_blank"><i class="fab fa-youtube"></i></a>
  <a href="https://twitter.com/" class="c-icons__link" target="_blank"><i class="fab fa-twitter"></i></a>
  <a href="https://www.instagram.com/" class="c-icons__link" target="_blank"><i class="fab fa-instagram"></i></a>
</div>