<%# パーツ化したSNSアイコン横並び %> 
<div class="c-icons">
  <a href="" class="c-icons__link"><i class="fab fa-youtube"></i></a>
  <a href="" class="c-icons__link"><i class="fab fa-twitter"></i></a>
  <a href="" class="c-icons__link"><i class="fab fa-instagram"></i></a>
</div>