<% mv = {
  home:{
    title: '週一のトレーニングで',
    sub: 'サブ',
  },
  next:{
    title: 'ネクスト',
    sub: 'サブネクス',
  }
  
} %> 
<section class="l-mv p-mv">
  <div class="p-mv__inner l-inner">
    <!-- <h2><%- mv.home.title; %></h2> -->
    <h2 class="p-mv__title">週一のトレーニングで<br>
      人に見せたくなる<br class="u-hidden-tab">
      カラダをつくる</h2>
      <p class="p-mv__sub">一流俳優・モデルを指導してきた<br class="u-hidden-tab"> 本物のパーソナルトレーニング</p>
  </div>
</section>