<% mv = {
  home:{
    title: '週一のトレーニングで<br>人に見せたくなる<br class="u-hidden-tab">カラダをつくる',
    sub: '一流俳優・モデルを指導してきた<br class="u-hidden-tab">本物のパーソナルトレーニング',
  },
  next:{
    title: 'ネクスト',
    sub: 'サブネクス',
  }
  
} %> 
<section class="l-mv p-mv">
  <div class="p-mv__inner l-inner">
    <% if(pageId === 'home') { %> 
    <h2 class="p-mv__title"><%- mv.home.title; %></h2>
    <% } else { %> 
    <h2 class="p-mv__title"><%- mv.next.title; %></h2>
     <% }; %>  
    <% if(pageId === 'home') { %> 
    <p class="p-mv__sub"><%- mv.home.sub; %> </p>
    <% } else { %> 
    <p class="p-mv__sub"><%- mv.next.sub; %> </p>
     <% }; %>  
    
  </div>
</section>