<%# mv = {
  {
    title: '週一<span class="p-mv__title-small">のトレーニングで</span></span><br>人に見せたくなる<br class="u-hidden-tab">カラダ<span class="p-mv__title-small">をつくる</span>',
    sub: '一流俳優・モデルを指導してきた<br class="u-hidden-tab">本物のパーソナルトレーニング',
  }
} %> 
<section class="l-mv p-mv">
  <div class="p-mv__inner l-inner">
    <h2 class="p-mv__title">
      <%- mv.title; %>
    </h2>
     
    <p class="p-mv__sub">
      <%- mv.sub; %>
    </p>
  </div>
</section>