<section class="l-qa p-qa">
  <div class="p-qa__inner l-inner">
    <div class="p-qa__title">
       
      <%- include('./_section-title-normal.ejs', {normal_title: qa_title});  %> 
    </div>
    <div class="p-qa__items">
      
      <% for(let i in qa) { %>  
      <dl class="p-qa__item">
        <dt class="p-qa__question">
          <span class="p-qa__icon">Q</span>
          <p class="p-qa__text">
            <%- qa[i].question; %> 
          </p>
        </dt>
        <dd class="p-qa__answer">
          <span class="p-qa__icon p-qa__icon--a">A</span>
          <p class="p-qa__text">
            <%- qa[i].answer; %> 
          </p>
        </dd>
      </dl>
      <% } %> 
    </div>
  </div>
</section>