<section class="l-qa p-qa">
  <div class="p-qa__inner l-inner">
    <div class="p-qa__title">
      <% const qa_title = {
        main: 'Q&A',
        sub: 'よくある質問'
      }; %> 
      <%- include('./_section-title-normal.ejs', {normal_title: qa_title});  %> 
    </div>
    <div class="p-qa__items">
      <% qa = [
        {
          question: 'ダイエットをしたいのですが、どれくらいの効果がありますか？',
          answer: '個人差はありますが、週に1回のパーソナルトレーニングと自宅でのトレーニング、食生活を改善することで、２か月で効果を感じていただくことができます。'
        },
        {
          question: '運動をしたことがなく、体力に自信がありません。大丈夫でしょうか？',
          answer: 'MELIA FITNESSは専属のトレーナーがマンツーマンでトレーニングのサポートをしております。また、無理なトレーニングはしないため、運動をしたことがなく、体力に自信がない方でも安心して取り組んでいただけます。'
        },
        {
          question: 'リバウンドはしませんか？',
          answer: 'リバウンドの原因は筋肉が落ちて基礎代謝が下がってしまうことが原因であると考えられています。<br>MELIA FITNESSのプログラムでは、確実に筋肉をつけられますので、リバウンドしにくい体になれます。'
        },
        {
          question: '厳しい食事制限をする自信がありません。',
          answer: 'MELIA FITNESSでは食事の選び方や食べ方など食事改善についてアドバイスを行っております。<br>厳しい食事制限はありませんのでご安心ください。'
        },
        {
          question: 'トレーニングの際に必要なものはありますか？',
          answer: 'トレーニングウェアとトレーニング時に使用するシューズをおもちください。<br>お持ちでない場合はレンタルをご用意しておりますのでご利用ください。'
        },
      ];
       %> 
      <% for(let i in qa) { %>  
      <dl class="p-qa__item">
        <dt class="p-qa__question">
          <span class="p-qa__icon">Q</span>
          <p class="p-qa__text">
            <%- qa[i].question; %> 
          </p>
        </dt>
        <dd class="p-qa__answer">
          <span class="p-qa__icon p-qa__icon--a">A</span>
          <p class="p-qa__text">
            <%- qa[i].answer; %> 
          </p>
        </dd>
      </dl>
      <% } %> 
    </div>
  </div>
</section>