<%# Q&Aセクション パーツ化 
配列テンプレ
const qa_title = {
    main: 'Q&A',
    sub: 'よくある質問'
  }; 
qa = [
  {
    question: 'ダイエットをしたいのですが、どれくらいの効果がありますか？',
    answer: '個人差はありますが、週に1回のパーソナルトレーニングと自宅でのトレーニング、食生活を改善することで、２か月で効果を感じていただくことができます。'
  },
];
%> 
<section class="l-qa p-qa">
  <div class="p-qa__inner l-inner">
    <div class="p-qa__title">
       
      <%- include('./_section-title-normal.ejs', {normal_title: qa_title});  %> 
    </div>
    <div class="p-qa__items">
      
      <% for(let i in qa) { %>  
      <dl class="p-qa__item">
        <dt class="p-qa__question">
          <span class="p-qa__icon">Q</span>
          <p class="p-qa__text">
            <%- qa[i].question; %> 
          </p>
        </dt>
        <dd class="p-qa__answer">
          <span class="p-qa__icon p-qa__icon--a">A</span>
          <p class="p-qa__text">
            <%- qa[i].answer; %> 
          </p>
        </dd>
      </dl>
      <% } %> 
    </div>
  </div>
</section>