<%# こんなお悩みありませんか？のリスト %> 
<section class="l-worry p-worry">
  <div class="p-worry__img">
    <picture>
    <source media="(max-width: 767px)" srcset="./images/sp/depressed-bg_sp.jpg">
    <source media="(min-width: 768px)" srcset="./images/pc/depressed-bg_pc.jpg">
    <img src="./images/pc/depressed-bg_pc.jpg" alt="こんなお悩みありませんか？">
    </picture>
  </div>
  <div class="p-worry__body l-inner">
    <h3 class="p-worry__title">こんなお悩みありませんか？</h3>
    <ul class="p-worry__items">
      <% const worryItem = [
        'トレーニングをしても本当に痩せられるか不安。',
        'トレーニングしたいけど時間がない。',
        '厳しい食事制限に耐えられるか分からない。',
        '一時的に痩せてもリバウンドしないか心配。',
        'ダイエットに失敗してきたので続けられるか不安。',
    ]; %> 
      <% for(let i of worryItem) { %> 
      <li class="p-worry__item">
        <img src="./images/common/Vector.png" alt="アイコン">
        <%= i; %> 
      </li>
      <% } %> 
    </ul>
  </div>
</section>
<!-- /.section l-worry p-worry -->