<%#
  普通のセクションタイトル
  const profile = {
    main: 'メインタイトル',
    sub: 'サブタイトル'
  };
%> 
<h3 class="c-section-title"><%= normal_title.main; %><span class="c-section-title__sub"><%= normal_title.sub; %></span></h3>