<%#
  タブレット〜 メインの後ろにライン表示
  const line_title = {
    main: 'ACCESS',
    sub: 'アクセス',
  }; 
%> 
<h3 class="c-section-title-line"><%= line_title.main; %></h3>
<span class="c-section-title-line__sub">
  <%= line_title.sub; %>
</span>