        <% let title = '株式会社 園崎組'; %>
        <% let description = '私達のモットーは、 「社会基盤から世界をより良くする」こと。そのために最前線で国家規模のプロフェクトに参画することもあれば、 世界各国の技術者、研究者と共に次世代の建設機材の研究開発事業も 同時に行うことで、業界の進化の促進を担っています。'; %>
        <% let pageId = 'home'; %> 

        <%# 共通パーツ化したヘッダー %> 
        <%- include('./common/_header.ejs', { title: title, description: description, pageId: pageId }); %>
        
        <section class="l-top-mv p-top-mv js-mv" id="a-top">
          <!-- Slider main container -->
          <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <picture>
                  <source
                    media="(max-width: 767px)"
                    srcset="./images/sp/mv-sp1.png"
                  />
                  <source
                    media="(min-width: 768px)"
                    srcset="./images/pc/mv-pc1.png"
                  />
                  <img src="./images/pc/mv-pc1.png" alt="作業現場上空画像" decoding="async"/>
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source
                    media="(max-width: 767px)"
                    srcset="./images/sp/mv-sp2.png"
                  />
                  <source
                    media="(min-width: 768px)"
                    srcset="./images/pc/mv-pc2.png"
                  />
                  <img src="./images/pc/mv-pc2.png" alt="トンネル工事" decoding="async" />
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source
                    media="(max-width: 767px)"
                    srcset="./images/sp/mv-sp3.png"
                  />
                  <source
                    media="(min-width: 768px)"
                    srcset="./images/pc/mv-pc3.png"
                  />
                  <img src="./images/pc/mv-pc3.png" alt="溶接作業" decoding="async" />
                </picture>
              </div>
            </div>
          </div>
          <div class="p-top-mv__text">
            <div class="p-top-mv__inner l-inner">
              <h2 class="p-top-mv__title">
                CHALLENGE <br />
                <span class="u-inline-pc">FROM </span>THE BOTTOM
              </h2>
              <div class="p-top-mv__sub-title">
                <div class="p-top-mv__sub-text"><h3>社会の基礎を支え</h3></div>
                <br />
                <div class="p-top-mv__sub-text">
                  <h3>基礎から世界を変革する会社</h3>
                </div>
              </div>
              <div class="p-top-mv__news p-mv-news">
                <a href="#" class="p-mv-news__item c-news">
                  <span class="c-news__heading">NEWS</span>
                  <div class="c-news__meta">
                    <time class="c-news__time" datetime="2021-06-12"
                      >2021.06.12
                    </time>
                    <span class="c-news__category c-tag"> お知らせ </span>
                    <p class="c-news__title">新サイトを公開しました。</p>
                  </div>
                  <div class="c-news__icon c-arrow">
                    <img src="./images/common/arrow.png" decoding="async" loading="lazy" alt="矢印アイコン" />
                  </div>
                </a>
              </div>
            </div>
            <!-- p-top-mv__inner l-inner-->
          </div>
        </section>
        <!-- l-top-mv p-top-mv-->
        <section class="l-services p-services" id="a-services">
          <div class="p-services__inner">
            <div class="p-services__img">
              <img src="./images/common/services.jpg" decoding="async" loading="lazy" alt="研究風景" />
            </div>
            <div
              class="p-services__text"
              data-aos="fade-up"
              data-aos-duration="1500"
            >
              <div class="p-services__title c-section-title">
                <h3 class="c-section-title__main">SERVICES</h3>
                <span class="c-section-title__sub">事業内容</span>
              </div>
              <p class="p-services__heading c-section-heading">
                人々の生活基盤を<br />
                世界最高峰の技術で支える
              </p>
              <p class="p-services__description c-section-description">
                <span class="u-block-tab">
                  私達のモットーは、 「社会基盤から世界をより良くする」こと。
                </span>
                そのために最前線で国家規模のプロフェクトに参画することもあれば、世界各国の技術者、研究者と共に次世代の建設機材の研究開発事業も同時に行うことで、業界の進化の促進を担っています。
              </p>
              <div class="p-services__btn c-btn">
                <a href="#a-services"
                  >事業内容を更に知る
                  <div class="c-btn__icon c-arrow">
                    <img src="./images/common/arrow.png" decoding="async" loading="lazy" alt="矢印アイコン" />
                  </div>
                </a>
              </div>
            </div>
          </div>
        </section>
        <!--l-services p-services-->

        <section class="l-about p-about" id="a-about">
          <div class="p-about__inner l-inner">
            <div class="p-about__img">
              <img src="./images/common/bg-about.jpg" decoding="async" loading="lazy" alt="自社工場内" />
            </div>
            <div class="p-about__body" data-aos="new-animation">
              <div class="p-about__title c-section-title">
                <h3 class="c-section-title__main">ABOUT</h3>
                <span class="c-section-title__sub">園崎組について</span>
              </div>
              <p class="p-about__description c-section-description">
                <span class="u-block-tab"
                  >園崎組は埼玉県秩父市にて、主に土木工事にて</span
                >社会基盤を支える企業になります。<br />
                <span class="u-block-tab"
                  >また、自社工場において施工に必要とされる</span
                >各種資材も生産しており、各業者に提供することで、社会基盤の構築・整備に貢献しております。
              </p>
              <div class="p-about__btn c-btn">
                <a href="#"
                  >詳しく見る
                  <div class="c-btn__icon c-arrow">
                    <img src="./images/common/arrow.png" decoding="async" loading="lazy" alt="矢印アイコン" />
                  </div>
                </a>
              </div>
              <div class="p-about__pc-img">
                <img src="./images/pc/about.jpg" decoding="async" loading="lazy" alt="ショベルカー" />
              </div>
            </div>
          </div>
        </section>
        <!--l-about p-about-->

        <section class="l-works p-works" id="a-works">
          <div class="p-works__inner l-inner">
            <div class="p-works__title c-section-title">
              <h3 class="c-section-title__main">WORKS</h3>
              <span class="c-section-title__sub">園崎組の実績</span>
            </div>
            <p class="p-works__heading c-section-heading">
              <span class="u-inline-tab"> 社会を基礎から、 </span>
              変革してきたプロジェクト
            </p>
            <p class="p-works__description c-section-description">
              <span class="u-block-tab"
                >創業以來より培われた確かな技術力で社会を変革する様々な案件を手掛けてきました。</span
              >
              その一部を紹介させていただきます。
            </p>
            <div class="p-works__cards c-cards">
              <a
                class="c-cards__item c-card"
                data-aos="flip-up"
                data-aos-duration="900"
                data-aos-easing="ease-out"
              >
                <div class="c-card__img">
                  <img
                    src="./images/common/works-1.jpg" decoding="async" loading="lazy"
                    alt="大型重機での作業"
                  />
                  <span class="c-card__index">01</span>
                </div>
                <dl class="c-card__body">
                  <dt class="c-card__title">施工実績</dt>
                  <dd class="c-card__text">
                    東南アジア某国での国家規模のプロジェクトに参画した際の園崎組のプロジェクトストーリーを記載しています。
                  </dd>
                </dl>
              </a>
              <a
                class="c-cards__item c-card"
                data-aos="flip-up"
                data-aos-duration="900"
                data-aos-easing="ease-out"
              >
                <div class="c-card__img">
                  <img src="./images/common/works-2.jpg" decoding="async" loading="lazy" alt="施工現場" />
                  <span class="c-card__index">02</span>
                </div>
                <dl class="c-card__body">
                  <dt class="c-card__title">商品納入実績</dt>
                  <dd class="c-card__text">
                    土木・建設資材のプロフェッショナルとして、現場で必要となる各種資材を提供しています。
                  </dd>
                </dl>
              </a>
            </div>
            <!-- p-works__cards c-cards-->
            <div class="p-works__btn c-btn">
              <a href="#"
                >実績一覧を見る
                <div class="c-btn__icon c-arrow">
                  <img src="./images/common/arrow.png" decoding="async" loading="lazy" alt="矢印アイコン" />
                </div>
              </a>
            </div>
          </div>
        </section>
        <!-- /.l-works p-works -->

        <section class="l-recruit p-recruit" id="a-recruit">
          <div class="p-recruit__inner l-inner">
            <div class="p-recruit__title c-section-title">
              <h3 class="c-section-title__main">RECRUIT</h3>
              <span class="c-section-title__sub">採用情報</span>
            </div>
            <div class="p-recruit__items c-info-contents">
              <a
                href="#"
                class="c-info-contents__item c-info"
                data-aos="fade-up"
                data-aos-duration="1500"
              >
                <div class="c-info__img">
                  <img src="./images/common/recruit-1.jpg" decoding="async" loading="lazy" alt="現場航空写真" />
                </div>
                <p class="c-info__link">
                  園崎組を知る
                  <span class="c-btn__icon c-arrow">
                    <img src="./images/common/arrow.png" decoding="async" loading="lazy" alt="矢印アイコン" />
                  </span>
                </p>
              </a>
              <a
                href="#"
                class="c-info-contents__item c-info"
                data-aos="fade-up"
                data-aos-duration="1500"
              >
                <div class="c-info__img">
                  <img
                    src="./images/common/recruit-2.jpg" decoding="async" loading="lazy"
                    alt="仕事をする社員"
                  />
                </div>
                <p class="c-info__link">
                  園崎組の一日
                  <span class="c-btn__icon c-arrow">
                    <img src="./images/common/arrow.png" decoding="async" loading="lazy" alt="矢印アイコン" />
                  </span>
                </p>
              </a>
              <a
                href="#"
                class="c-info-contents__item c-info"
                data-aos="fade-up"
                data-aos-duration="1500"
              >
                <div class="c-info__img">
                  <img
                    src="./images/common/recruit-3.jpg" decoding="async" loading="lazy"
                    alt="現場で働く女性社員"
                  />
                </div>
                <p class="c-info__link">
                  求める人物像
                  <span class="c-btn__icon c-arrow">
                    <img src="./images/common/arrow.png" decoding="async" loading="lazy" alt="矢印アイコン" />
                  </span>
                </p>
              </a>
            </div>
            <div class="p-recruit__btn c-btn">
              <a href="#"
                >エントリーはこちら
                <div class="c-btn__icon c-arrow">
                  <img src="./images/common/arrow.png" decoding="async" loading="lazy" alt="矢印アイコン" />
                </div>
              </a>
            </div>
          </div>
        </section>
        <!-- l-recruit p-recruit-->

        <section class="section l-contact p-contact" id="a-contact">
          <div class="p-contact__inner l-inner">
            <div class="p-contact__title c-section-title">
              <h3 class="c-section-title__main">CONTACT</h3>
              <span class="c-section-title__sub">お問い合わせ</span>
            </div>
            <p class="p-contact__description c-section-description">
              <span class="u-block-tab"
                >園崎組では一般的な施工から特注部品、機械の開発・製造まで一貫して対応しております。
              </span>
              お気軽にご連絡ください。
            </p>
            <div class="p-contact__links c-links">
              <a href="#" class="c-links__btn1 c-link">
                <div class="c-link__icon c-icon">
                  <img src="./images/common/Backhoe.svg" decoding="async" loading="lazy" alt="アイコン" />
                </div>
                施工のご相談
                <div class="c-link__arrow c-arrow">
                  <img src="./images/common/arrow.png" decoding="async" loading="lazy" alt="矢印アイコン" />
                </div>
              </a>
              <a href="#" class="c-links__btn2 c-link">
                <div class="c-link__icon c-icon">
                  <img src="./images/common/Factory.svg" decoding="async" loading="lazy" alt="アイコン" />
                </div>
                特注制作のご相談
                <div class="c-link__arrow c-arrow">
                  <img src="./images/common/arrow.png" decoding="async" loading="lazy" alt="矢印アイコン" />
                </div>
              </a>
            </div>
          </div>
        </section>
        <!-- /.section l-contact p-contact -->
       
        <%- include('./common/_footer.ejs');  %> 
