<!DOCTYPE html>
<html lang="ja">
  <head
    prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# website: https://ogp.me/ns/website#"
  >
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>MELIA FITNESS</title>
    <!-- SEO系 -->
    <meta name="description" content="120文字以内！" />
    <meta
      name="keywords"
      content="これは今はGoogleでは特に必要ないと言われてますがキーワードお願いされることも多々ある"
    />
    <!-- OGP -->
    <meta property="og:title" content="MELIA FITNESS" />
    <meta property="og:site_name" content="MELIA FITNESS" />
    <meta property="og:description" content="90文字くらい推奨" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="このページのURL" />
    <meta property="og:image" content="" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@keooooooooooooo" />
    <meta name="format-detection" content="telephone=no" />
    <!-- タッチアイコン -->
    <link rel="apple-touch-icon" sizes="192x192" href="" />
    <link rel="shortcut icon" sizes="192x192" href="" />
    <!-- ファビコン -->
    <link rel="icon" href="" />
    <!-- クローラー -->
    <meta name="robots" content="noindex" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Allura&family=Lora:ital@1&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/styles.css">
  </head>
  <body>
      <h1>konn</h1>
  </body>
</html>
