<% let pageId = 'home'; %>
<%- include('./common/_header.ejs', { pageId: pageId }); %>
<main>
<%- include('./common/_mv.ejs', { pageId: pageId }); %> 

  <section class="l-voice p-voice">
    <div class="l-inner">
      <h2 class="p-voice__heading">トレーニングを受けた会員様からこんな声が届いています。</h2>
      <div class="p-voice__cards c-cards1">
        <% const voiceCard = [
          {
            img:'./images/common/voice1.jpg',
            heading: '理想的なカラダになれました！',
            description: 'マンツーマンの指導を受けることができ、自分のなりたい身体に合ったトレーニングができてとても良かったです。<br>2か月で理想の体型になることができました！',
            name: '38歳 会社員 女性',
          },
          {
            img:'./images/common/voice2.jpg',
            heading: 'リバウンドせずに体型維持できています！',
            description: '4か月前に目標の体重になってからなってからリバウンドもなく、今でもボディメイクを楽しんで続けられています。',
            name: '42歳 会社経営 女性',
          },
          {
            img:'./images/common/voice3.jpg',
            heading: '周りから“キレイになった”と言われます！',
            description: 'トレーニングをしてメリハリのある体になると、家族や友人から「とてもキレイになった」と褒めてもらえるように。<br>ボディメイクをきっかけに自信が持てるようになりました。',
            name: '32歳 専業主婦 女性',
          },
        ]; %> 
        <%- include('./common/_card1.ejs', {card1: voiceCard}); %> 
      </div>
    </div>
  </section>
</main> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="./js/script.js"></script>
  </body>
</html>
