@use "global" as *;
.c-section-title-line {
  position: relative;
  display: inline-block;
  font-family: $font-en;
  font-weight: 400;
  font-size: rem(28);
  line-height: 1;
  letter-spacing: 0.05em;
  color: $black;
  &::after {

  }
  @include mq("md") {
    font-size: rem(56);
    letter-spacing: 0.08em;
    padding-right: rem(32);
    &::after {
      position: absolute;
      top: 50%;
      left: 100%;
      width: rem(340);
      content: '';
      display: block;
      border-top: 0.6px solid $black;
    }
  }
}

.c-section-title-line__sub {
  display: block;
  font-family: $font-jp;
  font-size: rem(14);
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.1em;
  color: $black;
  @include mq("md") {
    font-size: rem(16);
    margin-top: rem(40);
  }
}