@use "global" as *;

.c-tag {
  display: inline-block;
  font-size: rem(12);
  font-weight: $regular;
  line-height: 1;
  padding: rem(5) rem(8);
  border-radius: rem(10);
  @include mq("md") {
    padding: rem(7) rem(16);
    border-radius: rem(5);
  }
}