@use "global" as *;
.p-access {
  padding-top: rem(66);
  padding-bottom: rem(56);
  @include mq("md") {
    padding-top: rem(96);
    padding-bottom: rem(96);
  }
}

.p-access__container {
  margin-top: rem(49);
  @include mq("md") {
    margin-top: rem(80);
    display: flex;
    justify-content: space-between;
  }
}

.p-access__body {
    color: $black;
  }

.p-access__name {
  font-size: rem(18);
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.1em;
  @include mq("md") {
    font-size: rem(24);
  }
}
.p-access__kana {
  display: block;
  font-size: rem(14);
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.02em;
  margin-top: rem(17);
  @include mq("md") {
    font-size: rem(16);
    margin-top: rem(14);
  }
}

.p-access__items {
  margin-top: rem(25);
  @include mq("md") {
    margin-top: rem(40);
  }
}

.p-access__item {
  font-size: rem(16);
  font-weight: 400;
  line-height: calc(28.8 / 16);
  letter-spacing: 0.02em;
  @include mq("md") {
    line-height: 2;
  }
}
.p-access__item--num {
  letter-spacing: 0.1em;
}

.p-access__item + .p-access__item {
  margin-top: rem(12);
  @include mq("md") {
    margin-top: rem(32);
  }
}

.p-access__map {
  position: relative;
  padding-top: 84%;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  margin-top: rem(40);
  @include mq("md") {
    padding-top: 0;
    margin-left: initial;
    margin-right: initial;
    margin-top: 0;
    width: 49.056%;
    height: rem(390);
  }
}

.p-access__map > iframe {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  @include mq("md") {
    height: inherit;
  }
}