@use "global" as *;
.p-campaign {
  background-image: url(../../images/sp/campaign-bg-sp.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: rem(56);
  padding-bottom: rem(56);
  @include mq("md") {
    background-image: url(../../images/pc/campaign-bg-pc.jpg);
    padding-top: rem(96);
    padding-bottom: rem(96);
  }
}

.p-campaign__container {
  background-color: $white;
  border: 1px solid $primary;
  padding: rem(40) rem(10);
  @include mq("md") {
    padding: rem(58) rem(89);
  }
}

.p-campaign__title {
  font-size: rem(20);
  font-weight: 600;
  line-height: calc(30 / 20);
  letter-spacing: 0.05em;
  color: $primary;
  padding: rem(12) 0;
  border-top: 1px solid $primary;
  border-bottom: 1px solid $primary;
  text-align: center;
  @include mq("md") {
    font-size: rem(40);
    letter-spacing: 0.15em;
  }
}

.p-campaign__body {
  margin-top: rem(78);
  max-width: rem(221);
  margin-left: auto;
  margin-right: auto;
  @include mq("md") {
    max-width: rem(606);
    margin-top: rem(130);
  }
}
.p-campaign__heading {
  font-size: rem(16);
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.15em;
  color: $black;
  @include mq("md") {
    font-size: rem(28);
  }
  & span {
    display: inline-block;
    margin-left: rem(20);
    @include mq("md") {
      margin-left: rem(37);
    }
  }
}
.p-campaign__price {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: rem(25);
  @include mq("md") {
    justify-content: flex-start;
    align-items: center;
    margin-top: rem(14);
  }
}
.p-campaign__before {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
  line-height: 1;
  color: $black;
}
.p-campaign__before-heading {
  display: inline-block;
  font-size: rem(16);
  letter-spacing: 0.05em;
  @include mq("md") {
    font-size: rem(24);
    letter-spacing: 0.15em;
  }
}
.p-campaign__before-price {
  display: inline-block;
  font-size: rem(24);
  letter-spacing: 0.1em;
  margin-top: rem(10);
  @include mq("md") {
    font-size: rem(34);
    margin-top: rem(22);
  }
}
.p-campaign__before-tax {
  display: none;
  @include mq("md") {
    display: inline-block;
    font-size: rem(24);
  }
}

.p-campaign__arrow {
  width: rem(24);
  margin: 0 rem(12);
  @include mq("md") {
    width: rem(49);
    margin-left: rem(97);
    margin-top: rem(28);
    margin-right: rem(84);
  }
}

.p-campaign__after {
  position: relative;
}
.p-campaign__after-price {
  width: rem(63);
  @include mq("md") {
    width: rem(138);
  }
}
.p-campaign__after-icon {
  position: absolute;
  max-width: initial;
  top: rem(-95);
  left: rem(-19);
  display: inline-block;
  width: rem(124);
  @include mq("md") {
    width: rem(236);
  }
}

.p-campaign__meta {
  margin-top: rem(40);
  @include mq("md") {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: rem(46);
  }
}

.p-campaign__date {
  font-size: rem(16);
  font-weight: 400;
  line-height: 1;
  color: $black;
  margin-top: rem(15);
  @include mq("md") {
    font-size: rem(20);
    margin-top: 0;
    margin-left: rem(20);
  }
}
.p-campaign__link {
  text-align: center;
}
.p-campaign__link-btn {
  color: $white;
  background: linear-gradient(
    265.98deg,
    #8b6c3a 23.24%,
    #b19464 55.28%,
    #8b6c3a 85.32%,
    #8b6c3a 85.32%
  );
  margin-top: rem(32);
  @include mq("md") {
    margin-top: rem(52);
  }
}
