@use "global" as *;
.p-flow {
  background-color: $gray;
  padding-top: rem(64);
  padding-bottom: rem(56);
  @include mq("md") {
    padding-top: rem(96);
    padding-bottom: rem(96);
  }
}

.p-flow__cards {
  margin-top: rem(46);
  @include mq("md") {
    margin-top: rem(80);
  }
}