@use "global" as *;
.p-feature {
  padding-top: rem(48);
  padding-bottom: rem(61);
  @include mq("md") {
    padding-top: rem(100);
    padding-bottom: rem(119);
  }
}
.p-feature__title-arrow {
  margin-top: rem(16);
  text-align: center;
  @include mq("md") {
    margin-top: rem(32);
  }
}

.p-feature__title {
  margin-top: rem(37.7);
  @include mq("md") {
    margin-top: rem(74.8);
  }
}

.p-feature__cards {
  margin-top: rem(43);
  @include mq("md") {
    margin-top: rem(80);
  }
}