@use "global" as *;
.p-mv {
  background-position: left 30%;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - rem(68));
  padding-top: rem(40);
  text-align: center;
  @include mq("md") {
    background-position: center right 30%;
    height: rem(681);
    padding-top: 0;
    text-align: start;
  }
}

#home .p-mv {
  background-image: url(../images/sp/mv-bg_sp.jpg);
  @include mq("md") {
    background-image: url(../images/pc/mv-bg_pc.jpg);
  }
}
#owners .p-mv {
  background-image: url(../images/common/owner.jpg);
  background-position: right 30%;
  @include mq("md") {
    background-position: center 15%;
  }
  & .p-mv__title, .p-mv__sub  {
    color: $white;
    text-shadow: 0px 0px 5px #444444;
  }
}
#feature .p-mv {
  background-image: url(../images/sp/yoga-sp.png);
  background-position: right -113px center;
  @include mq("md") {
    background-image: url(../images/pc/yoga_pc.png);
    background-position: center right 30%;
  }

  & .p-mv__title, .p-mv__sub  {
    color: $primary;
    text-shadow: 1px 1px 1px #525050;
  }
}

.p-mv__inner {
  @include mq("md") {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-24px);
  }
}

.p-mv__title {
  font-size: rem(22);
  font-weight: 600;
  line-height: calc(36 / 22);
  letter-spacing: 0.1em;
  color: $black;
  @include mq("md") {
    font-size: rem(40);
    line-height: calc(60 / 40);
  }
}
.p-mv__title-small {
  @include mq("md") {
    font-size: rem(31);
  }
}

.p-mv__sub {
  font-size: rem(14);
  font-weight: 600;
  line-height: calc(21 / 14);
  margin-top: rem(12);
  @include mq("md") {
    font-size: rem(22);
    font-weight: 400;
    line-height: calc(33 / 22);
    margin-top: rem(32);
  }
}