@use "global" as *;

.p-owner-message {
  padding: rem(24) rem(19.4);
  border: 1px solid $primary;
  @include mq("md") {
    padding: rem(60) rem(90);
  }
}

.p-owner-message__title {
  font-family: $font-en-sub;
  font-size: rem(40);
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.1em;
  color: $primary;
  text-align: center;
  @include mq("md") {
    font-size: rem(56);
  }
}

.p-owner-message__text {
  font-size: rem(16);
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.02em;
  margin-top: rem(16);
  @include mq("md") {
    line-height: 2;
    letter-spacing: 0.1em;
    margin-top: rem(32); 
  }
}